* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    background: rgb(235, 228, 229);
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*Navigation Bar*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: 0;
    background: white;
    top: 0;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

#nav-bar {
    width: 40vw;
}

#header-img {
    width: 8rem;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
}

.nav-link:hover {
    font-weight: 700;
    text-indent: 5px;
}

/*First Container*/

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.container-1 h1 {
    font-family: Verdana;
    font-weight: 700;
}

.container-1 div {
    padding: 50px;
}

.container-1 p {
    padding: 12px;
    font-family: Verdana;
}

/*Second Container*/

.container-2 {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

.quotes {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.quotes li {
    padding: 20px;
}

.quotes ul {
    padding-bottom: 40px;
}

.quotes span {
    font-weight: 700;
    font-size: 16px;
}

.button {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
}

.button:hover {
    background-color: rgb(190, 245, 190)
}

#jointheclub {
    align-items: center;
}

#tea-logo {
    width: 500px;
    border-radius: 15px;
}

/*Third Container*/

.container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: flex-start;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    gap: 50px;
}

.container-3 p {
    padding-bottom: 20px;
}

#aboutus {
    padding-top: 50px;
}

#aboutus h1 {
    font-size: 25px;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}

.tea-image1 {
    width: 400px;
    border-radius: 15px;
}

/*Fourth Container*/

.container-4 {
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

#video {
    border-radius: 15px;
}

/*Fifth Container*/

.container-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    gap: 100px;
}

.container-5 li {
    padding: 20px;
    text-align: left;
}

.container-5 h1 {
    text-align: left;
    align-items: center;
}

.container-5 ul {
    list-style: none;
    padding: 0;
}

.container-5 ul li span {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#tea-image3 {
    width: 300px;
    border-radius: 15px;
}

.container-5 ul li .tea-image3-li {
    margin-top: 100px;
}

#teaselection {
    background-color: #fff;
    width: 100%;
}

#teaselection h1 {
    font-size: 25px;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 0px;
}

@media screen and (max-width: 768px) {
    ul {
        display: flex;
        flex-direction: column;
    }

    .container-1, .container-3 {
        display: flex;
        flex-direction: column;
    }

    li {
        width: 100%;
    }
}

/*Sixth Container*/

.container-6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    gap: 100px;
}

.container-6 li {
    padding: 20px;
    text-align: left;
}

.container-6 h1 {
    text-align: left;
}

.container-6 ul {
    list-style: none;
    padding: 0;
}

.container-6 ul li span {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#teaaccessories {
    margin-top: 50px;
    width: 100%;
    background-color: #fff;
}

#tea-image2 {
    width: 300px;
    border-radius: 15px;
}

#main-section {
    margin-top: 200px;
}

.tea-link1 {
    background-color: beige;
    color: black;
}

/*Footer*/

#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

#footer li {
    padding: 20px;
    font-size: 10px;
    font-weight: 700;
}

#footer a {
    text-decoration: none;
    color: black;
}